* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--white);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

p, a, legend, label, li {
    font-size: .8em;
}

input:not(.input-untouched):valid {
    border: var(--border-valid);
}

input:not(.input-untouched):invalid {
    border: var(--border-invalid);
}

.hr {
    width: 100%;
    height: .02em;

    margin: 1em 0;

    background-color: var(--dark-gray);
}

.accordion {
    display: none;
    
    padding: 1em 1em 0 1em;

    border: var(--border);
    border-radius: .2em;
}

.accordion.open-accordion {
    display: block;
}

:root {
    --white: #FFFFFF;
    --light-gray: #f3f3f3;
    --dark-gray: #ACACA8;
    --black: #000000;
    --dark-red: #cc2323;
    --red: #F42626;
    --green: #119316;
    --dark-blue: #00588E;
    --light-blue: #248ed0;

    --border: .02em solid var(--dark-gray);
    --border-valid: .1em solid var(--green);
    --border-invalid: .1em solid var(--red);
}
