* {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--light-gray);
}

h1 {
    font-size: 1.4em;
    font-weight: 600;
}

h2 {
    font-size: .75em;
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-size: .75em;
    font-weight: 600;
}

h4 {
    font-size: .75em;
    font-weight: 400;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --light-gray: #FAFAFA;
    --dark-gray: #ACACA8;
    --blue: #00588E;
    --red: #F42626;
    --green: #119316;
}