/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 246, 246);
    
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a, button {
    cursor: pointer;
}

/* NAV */

nav {
    height: 6em;

    display: flex;
    align-items: center;

    padding: 0 1em;

    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 24px 0px rgba(0,0,0,0.15);
}

nav a {
    height: 3em;
}

nav a img {
    height: 100%;
}

/* HEADER */

body > header {
    margin: 4em 24em 0 24em;
}

body > header ul {
    position: relative;

    margin-bottom: 4em;
}

body > header ul hr {
    height: .1em;

    border: none;

    background-color: rgb(32, 86, 125);
}

body > header ul div {
    width: 100%;

    position: absolute;
    transform: translateY(-50%);

    display: flex;
    justify-content: space-between;
}

body > header ul div li {
    width: 3em;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;

    background-color: rgb(32, 86, 125);

    border: .1em solid rgb(32, 86, 125);
    border-radius: 100%;

    color: rgb(255, 255, 255);
}

body > header ul div li:not(:nth-of-type(1)) {
    background-color: rgb(246, 246, 246);

    color: rgb(32, 86, 125);
}

/* MAIN */

main {
    margin: 4em 24em 0 24em;
}

main form {
    font-size: .75em;
}

main form header h2 {
    margin-bottom: .4em;
}

main form > fieldset {
    margin: 2em 0;
    padding: 2em;

    border: .075em solid rgb(211, 211, 211);
    border-radius: .4em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.flow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;

    margin-top: 2em;
}

.flow div label {
    display: block;

    margin: 0 0 2em 0;
}

main form fieldset legend {
    font-size: 1.4em;
    font-weight: bold;
}

main form fieldset label {
    display: flex;
    flex-direction: column;

    margin-top: 2em;
}

main form > fieldset:nth-of-type(1) > div label {
    margin-top: 0;
}

main form fieldset label input[type="text"], main form fieldset label input[type="date"] {
    height: 2.4em;

    margin-top: .4em;
    padding-left: .4em;

    border: .075em solid rgb(211, 211, 211);
    border-radius: .4em;

    color: rgb(160, 160, 160)
}

main form footer {
    display: flex;
    justify-content: space-between;
}

main form footer a {
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1em;

    background-color: rgb(32, 86, 125);

    border-radius: .4em;

    color: rgb(255, 255, 255);
    text-decoration: none;
}

main form footer a input[type="submit"] {
    background-color: rgb(32, 86, 125);

    border: none;

    color: rgb(255, 255, 255);
}

/* FOOTER */

body > footer {
    height: 6em;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4em;

    background-color: rgb(255, 255, 255);

    font-size: .75em;
}