nav {
    margin: 4em 25% 0 25%;
}

nav ul {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul div {
    width: 100%;
    height: .02em;

    position: absolute;
    z-index: -1;

    background-color: var(--dark-gray);
}

nav ul li {
    width: 2.4em;
    aspect-ratio: 1/1;
}

nav ul li a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--border);
    border-radius: 100%;

    background-color: var(--white);

    color: var(--dark-gray);
}

nav ul li a:hover {
    border: none;

    background-color: var(--light-blue);

    color: var(--white);
}

/* VERANDER STYLING VAN NAVIGATIE AHV WELK ONDERDEEL JE ZIT */

html:has(#eersteOnderdeel:target) nav ul li:nth-of-type(1) a,
html:has(#tweedeOnderdeel:target) nav ul li:nth-of-type(2) a,
html:has(#derdeOnderdeel:target) nav ul li:nth-of-type(3) a,
html:has(#vierdeOnderdeel:target) nav ul li:nth-of-type(4) a,
html:has(#vijfdeOnderdeel:target) nav ul li:nth-of-type(5) a {
    border: none;

    background-color: var(--dark-blue);

    color: var(--white);
}